# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
node_modules
venv/
.vscode
course-02/exercises/udacity-c2-restapi/udagram-aleks-dev KEY pass.txt
aws-elastic-beanstalk-cli-setup
aws-elastic-beanstalk-cli-setup
course-03/exercises/udacity-c3-frontend/udacity_tests/git_test.sh
course-03/exercises/udacity-c3-frontend/tslint.json
course-03/exercises/udacity-c3-frontend/tsconfig.json
course-03/exercises/udacity-c3-frontend/src/tsconfig.spec.json
course-03/exercises/udacity-c3-frontend/src/tsconfig.app.json
course-03/exercises/udacity-c3-frontend/src/theme/variables.scss
course-03/exercises/udacity-c3-frontend/src/test.ts
course-03/exercises/udacity-c3-frontend/src/polyfills.ts
course-03/exercises/udacity-c3-frontend/src/main.ts
course-03/exercises/udacity-c3-frontend/src/karma.conf.js
course-03/exercises/udacity-c3-frontend/src/index.html
course-03/exercises/udacity-c3-frontend/src/global.scss
course-03/exercises/udacity-c3-frontend/src/environments/environment.ts
course-03/exercises/udacity-c3-frontend/src/environments/environment.prod.ts
course-03/exercises/udacity-c3-frontend/src/assets/shapes.svg
course-03/exercises/udacity-c3-frontend/src/assets/icon/favicon.png
course-03/exercises/udacity-c3-frontend/src/app/menubar/menubar.component.ts
course-03/exercises/udacity-c3-frontend/src/app/menubar/menubar.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/menubar/menubar.component.scss
course-03/exercises/udacity-c3-frontend/src/app/menubar/menubar.component.html
course-03/exercises/udacity-c3-frontend/src/app/home/home.page.ts
course-03/exercises/udacity-c3-frontend/src/app/home/home.page.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/home/home.page.scss
course-03/exercises/udacity-c3-frontend/src/app/home/home.page.html
course-03/exercises/udacity-c3-frontend/src/app/home/home.module.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/services/feed.provider.service.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/services/feed.provider.service.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/models/feed-item.model.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed.module.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-upload/feed-upload.component.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-upload/feed-upload.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-upload/feed-upload.component.scss
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-upload/feed-upload.component.html
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-upload/feed-upload-button/feed-upload-button.component.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-upload/feed-upload-button/feed-upload-button.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-upload/feed-upload-button/feed-upload-button.component.scss
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-upload/feed-upload-button/feed-upload-button.component.html
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-list/feed-list.component.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-list/feed-list.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-list/feed-list.component.scss
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-list/feed-list.component.html
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-item/feed-item.component.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-item/feed-item.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-item/feed-item.component.scss
course-03/exercises/udacity-c3-frontend/src/app/feed/feed-item/feed-item.component.html
course-03/exercises/udacity-c3-frontend/src/app/auth/services/auth.service.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/services/auth.service.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/services/auth.guard.service.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/services/auth.guard.service.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/models/user.model.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth.module.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-register/auth-register.component.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-register/auth-register.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-register/auth-register.component.scss
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-register/auth-register.component.html
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-menu-button/auth-menu-user/auth-menu-user.component.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-menu-button/auth-menu-user/auth-menu-user.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-menu-button/auth-menu-user/auth-menu-user.component.scss
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-menu-button/auth-menu-user/auth-menu-user.component.html
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-menu-button/auth-menu-button.component.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-menu-button/auth-menu-button.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-menu-button/auth-menu-button.component.scss
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-menu-button/auth-menu-button.component.html
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-login/auth-login.component.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-login/auth-login.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-login/auth-login.component.scss
course-03/exercises/udacity-c3-frontend/src/app/auth/auth-login/auth-login.component.html
course-03/exercises/udacity-c3-frontend/src/app/app.module.ts
course-03/exercises/udacity-c3-frontend/src/app/app.component.ts
course-03/exercises/udacity-c3-frontend/src/app/app.component.spec.ts
course-03/exercises/udacity-c3-frontend/src/app/app.component.html
course-03/exercises/udacity-c3-frontend/src/app/app-routing.module.ts
course-03/exercises/udacity-c3-frontend/src/app/api/api.service.ts
course-03/exercises/udacity-c3-frontend/src/app/api/api.module.ts
course-03/exercises/udacity-c3-frontend/README.md
course-03/exercises/udacity-c3-frontend/package.json
course-03/exercises/udacity-c3-frontend/package-lock.json
course-03/exercises/udacity-c3-frontend/ionic.config.json
course-03/exercises/udacity-c3-frontend/e2e/tsconfig.e2e.json
course-03/exercises/udacity-c3-frontend/e2e/src/app.po.ts
course-03/exercises/udacity-c3-frontend/e2e/src/app.e2e-spec.ts
course-03/exercises/udacity-c3-frontend/e2e/protractor.conf.js
course-03/exercises/udacity-c3-frontend/angular.json
