<form [formGroup]="loginForm" (submit)="onSubmit($event)">
  <ion-item>
    <ion-label position="floating" color="primary">Email</ion-label>
    <ion-input type="text" formControlName="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="primary">Password</ion-label>
    <ion-input type="password" formControlName="password" required></ion-input>
  </ion-item>
  <ion-button 
    color="primary" 
    type="submit"
    [disabled]="!loginForm.valid">
    Log In
  </ion-button>
  {{error}}
</form>
