.photo-card{
    max-width: 500px;
    overflow: hidden;
    background: var(--ion-color-primary-contrast);
    margin: 30px 0px;
  }

.photo-card ion-img {
  max-height: 532px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;  
}
